<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Ride History
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class=" col-11 modal-title text-center" id="exampleModalLabel">Your Rides</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#each data}}
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 my-auto"><img src="cab.png" class="img-fluid"></div>
                            <div class="col-7 my-auto">
                                <span class="text"><b>{{this.time}}</b></span><br>
                                <span class="address desc"><img src="green.png" width="6px" height="6px"> {{this.from}}</span><br>
                                <span class="address desc"><img src="red.png" width="6px" height="6px">  {{this.to}}</span>
                            </div>
                            <div class="col-3 text-center">
                                {{#ifCond this.cancel true}}
                                <span class="text-danger text-center  status">CANCEL</span>
                                {{else}}
                                <span class="text-success text-center status">₹{{this.fare}}</span>
                                {{/ifCond}}
                                <img src="driver.png" class="image img-fluid">
                                </div>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>